<div class="d-flex justify-content-center">
  <h1>This is me</h1>
</div>
<div class="d-flex justify-content-center">
  <%= image_tag("me.jpg", :alt => "me", class: "img-me") %>
</div>

<div class="m-5">
  <p style="color: #581F56; font-size: 25px;">My skills:</p>
  <div class="mb-3 line-custom">
  </div>
  <ul style="list-style-type: none;">
    <li><i class="fas fa-check-circle"></i> JavaScript</li>
    <li><i class="fas fa-check-circle"></i> Ruby</li>
    <li><i class="fas fa-check-circle"></i> Ruby on Rails</li>
    <li><i class="fas fa-check-circle"></i> HTML</li>
    <li><i class="fas fa-check-circle"></i> CSS</li>
    <li> <i class="fas fa-check-circle"></i> React</li>
  </ul>
</div>

<div class="row justify-content-around m-5">
  <a class="col-5 links" href="http://www.recon24.xyz/">RecOn 24</a>
  <a class="col-5 links" href="https://github.com/DavidRuizLopez">My GitHub</a>
</div>
