<div class="d-flex justify-content-center">
  <h1>This is me</h1>
</div>
<div class="d-flex justify-content-center">
  <%= image_tag("me.jpg", :alt => "me", class: "img-me") %>
</div>

<div class="m-5">
  <p>My skills are:</p>
  <ul>
    <li>JavaScript</li>
    <li>Ruby</li>
    <li>Ruby on Rails</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>React</li>
  </ul>
</div>

<div class="row justify-content-around m-5">
  <a class="col-5 links" href="http://www.recon24.xyz/">RecOn 24</a>
  <a class="col-5 links" href="https://github.com/DavidRuizLopez">My GitHub</a>
</div>
