<h1>This is me</h1>
<%= image_tag("me.jpg", :alt => "me") %>

<div class="row justify-content-around">
  <a class="col-5 links" href="http://www.recon24.xyz/">RecOn 24</a>
  <a class="col-5 links" href="https://github.com/DavidRuizLopez">My GitHub</a>
</div>
